@import 'tailwindcss';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@theme {
  /* =========================
     COLORS
  ========================= */
  
  /* Brand */
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
  --color-primary-light: #EEF2FF;

  /* Accent */
  --color-accent: #06B6D4;
  --color-accent-light: #ECFEFF;
  
  /* Success */
  --color-success: #16A34A;
  --color-success-light: #DCFCE7;

  /* Warning */
  --color-warning: #F59E0B;
  
  /* Error */
  --color-danger: #DC2626;
  --color-danger-light: #FEE2E2;
  
  /* Background */
  --color-background: #F1F5F9;
  --color-background-side: #152238;
  --color-background-side-secondary: #192841;
  --color-surface: #FFFFFF;
  --color-surface-hover: #F1F5F9;
  
  /* Borders */
  --color-border: #E2E8F0;
  --color-border-hover: #CBD5E1;
  
  /* Text */
  --color-text: #0F172A;
  --color-text-secondary: #475569;
  --color-text-muted: #94A3B8;
  --color-text-white: #FFFFFF;
  /* =========================
     FONTS
  ========================= */
  --font-sans: "Inter", sans-serif;
  --text-xs: 0.75rem;      /* 12px */
  --text-sm: 0.875rem;     /* 14px */
  --text-base: 1rem;       /* 16px */
  --text-lg: 1.125rem;     /* 18px */
  --text-xl: 1.25rem;      /* 20px */
  --text-2xl: 1.5rem;      /* 24px */
  --text-3xl: 1.875rem;    /* 30px */
  --text-4xl: 2.25rem;     /* 36px */
  
  --transition-fast: 150ms ease;
  --transition-normal: 250ms ease;
  --transition-slow: 350ms ease;
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text);
    transition: var(--transition-slow);
  }

  body {
    min-height: 100vh;
  }

  * {
    box-sizing: border-box;
  }
}